:root {
  font-family: 'Merienda One', cursive;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  font-family: inherit;
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.App {
  position: relative;
}

.App header {
  display: flex;
  place-items: center;
}

.App .branding {
  display: flex;
  gap: 1.5rem;
  place-items: center;
  margin: 0 auto 2.5rem;
}

.App .branding .logo {
  height: 96px;
  aspect-ratio: 1/1;
  transform: rotate(-45deg);
  border-radius: 40%;
  border: 2px solid #999999;
  box-shadow: 0 0 0.8rem .4rem aquamarine;
  background: rgba(255, 255, 255, 0.87);
}

.App .branding .title {
  font-size: 2rem;
  line-height: 1.1;
  white-space: nowrap;
  color: #242424;
  transform: rotate(-2deg);
}

.App .branding .title span {
  color: rgba(255, 255, 255, 0.87);
  display: inline-block;
  transform: rotate(-15deg);
  text-shadow: 0 0 1rem aquamarine;
}
.App .branding .title span:nth-child(2) {
  writing-mode: tb;
}
.App .branding .title span:nth-child(3) {
  transform: rotate(30deg);
}
.App .branding .title span::first-letter {
  text-transform: uppercase;
  font-weight: 800;
  color: aquamarine;
}


.App .board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 600px;
  gap: 0.5rem;
}

.App .board .tile {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.87);
  border-radius: .5rem;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;
  box-shadow: 0 0 0.4rem .2rem aquamarine;
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  transition: border-color 0.25s;
}

.App .board .tile:hover {
  border-color: #1a1a1a;
}

.App .board .tile.is-hl {
  color: #1a1a1a;
  border-color: #1a1a1a;
  background-color: aquamarine;
}



/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
*/